In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy
import numpy as np

In [166]:
path='/home/octo/Jts/C:\Jts\TradeReport'+ '/trades.20180423.csv'

In [167]:
trade_report=pd.read_csv(path,
            parse_dates={'time': ['Date','Time']},
            index_col='time',
            usecols=['Action', 'Quantity', 'Symbol', 'Price','Time','Date','Realized P&L'])

In [172]:
trade_report

                    Action  Quantity Symbol   Price  Realized P&L
time
2018-04-23 13:48:25    SLD       100    SPY  266.71           NaN
2018-04-23 13:48:25    SLD       500    SPY  266.71           NaN
2018-04-23 13:51:55    BOT       100    SPY  266.60          8.87
2018-04-23 13:51:55    BOT       100    SPY  266.60          9.87
2018-04-23 13:51:55    BOT       400    SPY  266.60         37.49
2018-04-23 13:52:09    SLD       600    SPY  266.54           NaN
2018-04-23 13:53:22    BOT       600    SPY  266.46         38.23

In [168]:
trades=trade_report

In [169]:
# Total number of trades
trade_report.Action.count()

7

In [170]:
print(trade_report.groupby(['Action']).count())

        Quantity  Symbol  Price  Realized P&L
Action
BOT            4       4      4             4
SLD            3       3      3             0

In [171]:
trade_report.groupby(['Action','Quantity']).count()

                 Symbol  Price  Realized P&L
Action Quantity
BOT    100            2      2             2
       400            1      1             1
       600            1      1             1
SLD    100            1      1             0
       500            1      1             0
       600            1      1             0

In [155]:
trade_report.Quantity=np.where(trade_report.Action=='SLD',trade_report.Quantity*-1,trade_report.Quantity)

In [156]:
trade_report=trade_report.pivot_table(index='time',columns='Action',aggfunc=sum).drop('Price',axis=1)

In [157]:
trade_report.fillna(0,inplace=True)

In [158]:
trade_report['holding']=(trade_report.Quantity.BOT+trade_report.Quantity.SLD)

In [159]:
trade_report['realizedPL']=(trade_report['Realized P&L'].BOT+trade_report['Realized P&L'].SLD)

In [160]:
trade=pd.merge(pd.concat([trade_report.holding,trade_report.realizedPL], axis=1),trades[['Price']],right_index=True, left_index=True)

In [138]:
#trade=trade[abs(trade.holding)==400]

In [163]:
trade

                     holding  realizedPL   Price
time
2018-04-19 18:50:51   -600.0        0.00  268.28
2018-04-19 18:50:51   -600.0        0.00  268.28
2018-04-19 18:50:51   -600.0        0.00  268.28
2018-04-19 19:18:15    600.0     -135.78  268.49
2018-04-19 19:18:15    600.0     -135.78  268.49
2018-04-19 19:18:15    600.0     -135.78  268.49
2018-04-19 19:18:15    600.0     -135.78  268.49
2018-04-19 19:18:15    600.0     -135.78  268.49
2018-04-19 19:18:21   -600.0        0.00  268.51
2018-04-19 19:18:21   -600.0        0.00  268.51
2018-04-19 19:18:21   -600.0        0.00  268.51
2018-04-19 19:25:36    600.0       62.22  268.39
2018-04-19 19:25:36    600.0       62.22  268.39
2018-04-19 19:25:36    600.0       62.22  268.39
2018-04-19 19:25:46   -600.0        0.00  268.39
2018-04-19 19:25:46   -600.0        0.00  268.39
2018-04-19 19:25:46   -600.0        0.00  268.39
2018-04-19 19:30:14    600.0       74.20  268.25
2018-04-19 19:30:14    600.0       74.20  268.25
2018-04-19 19:30:19   -600.0        0.00  268.26
2018-04-19 19:30:19   -600.0        0.00  268.26
2018-04-19 19:30:38    600.0      -69.79  268.36
2018-04-19 19:30:38    600.0      -69.79  268.36
2018-04-19 19:30:44   -600.0        0.00  268.37
2018-04-19 19:30:44   -600.0        0.00  268.37
2018-04-19 19:32:40    600.0       38.21  268.29
2018-04-19 19:32:47   -600.0        0.00  268.28
2018-04-19 19:34:59    600.0     -339.79  268.83
2018-04-19 19:34:59    600.0     -339.79  268.83
2018-04-19 19:35:07   -600.0        0.00  269.08
...                      ...         ...     ...
2018-04-20 17:34:44    600.0       44.22  266.82
2018-04-20 17:34:44    600.0       44.22  266.82
2018-04-20 17:35:00   -600.0        0.00  266.80
2018-04-20 17:35:00   -600.0        0.00  266.80
2018-04-20 17:35:00   -600.0        0.00  266.80
2018-04-20 17:35:16    200.0      -17.26  266.87
2018-04-20 17:35:16    200.0      -17.26  266.87
2018-04-20 17:35:18    400.0      -38.51  266.88
2018-04-20 17:35:39   -500.0        0.00  266.88
2018-04-20 17:35:39   -500.0        0.00  266.88
2018-04-20 17:35:40   -100.0        0.00  266.88
2018-04-20 17:36:13    600.0      -69.77  266.98
2018-04-20 17:36:18    600.0        0.00  266.97
2018-04-20 17:36:18    600.0        0.00  266.97
2018-04-20 17:36:18    600.0        0.00  266.97
2018-04-20 17:36:49   -300.0      -28.89  266.89
2018-04-20 17:36:49   -300.0      -28.89  266.89
2018-04-20 17:36:49   -300.0      -28.89  266.89
2018-04-20 17:36:50   -300.0      -31.89  266.88
2018-04-20 17:36:54   -600.0        0.00  266.87
2018-04-20 17:38:13    400.0      -54.52  266.99
2018-04-20 17:38:13    400.0      -54.52  266.99
2018-04-20 17:38:13    400.0      -54.52  266.99
2018-04-20 17:38:14    100.0      -13.63  266.99
2018-04-20 17:38:15    100.0      -13.63  266.99
2018-04-20 17:38:21   -600.0        0.00  267.01
2018-04-20 18:13:19    200.0       32.74  266.83
2018-04-20 18:13:19    200.0       32.74  266.83
2018-04-20 18:13:20    400.0       62.48  266.83
2018-04-20 18:13:20    400.0       62.48  266.84

[249 rows x 3 columns]

In [165]:
trade[-1:].Price

time
2018-04-20 18:13:20    266.84
Name: Price, dtype: float64